<div class="movies-container">
  <h1>Lista de películas</h1>

  <button class="btn-add" (click)="createMovie()">Nueva película</button>



  <ul *ngIf="movies.length > 0; else noMovies">
    <li *ngFor="let movie of movies">
      <strong>{{ movie.title }}</strong> — {{ movie.genre }} ({{ movie.duration }}) ({{ getDirectorName(movie.idDirector) }})
      <button class="btn-edit" (click)="editMovie(movie.id)">Editar</button>
      <button class="btn-delete" (click)="deleteMovie(movie.id)">Eliminar</button>
    </li>
  </ul>

  <ng-template #noMovies>
    <p>No hay películas registradas.</p>
  </ng-template>

  <button class="btn-back" (click)="goBack()">Regresar</button>
</div>
