<div class="form-container">
  <h2>{{ isEditMode ? 'Editar Película' : 'Agregar Película' }}</h2>

<form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
  <label>Título:</label>
  <input type="text" formControlName="title" />

  <label>Género:</label>
  <input type="text" formControlName="genre" />

  <label>Duración (hh:mm:ss):</label>
  <input type="text" formControlName="duration" />

  <label>Director:</label>
  <select formControlName="directorId">
    <option value="">Seleccione un director</option>
    <option *ngFor="let d of directors" [value]="d.id">{{ d.name }}</option>
  </select>

  <div class="buttons">

  <button type="submit">{{ isEditMode ? 'Actualizar' : 'Guardar' }}</button>
  <button type="button" (click)="goBack()">Cancelar</button>

  </div>
</form>
</div>
